@tailwind base;
@tailwind components;
@tailwind utilities;

.cog-background {
  background-color: #f7fafc;
  background-image: url("./assets/svgs/floating-cogs.svg");
}

.hero-image {
  background-image: url("./assets/images/sec-hero.jpg");
}
